@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg-welcome{
    background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
}

.glass-window{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.text-gradient{
    background: linear-gradient(264deg, rgba(196,160,129,1) 0%, rgba(231,229,225,1) 97%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-gradient{
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
}

input[type="text"]::placeholder{
    color: white;
}